html,
body {
  height: 100%;
  margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    height: 100%;
    width: 15%;
    border: 2px solid gray;
}

nav a {
    border: 1px solid gray;
    display: block;
    padding: 20px;
}

nav a:hover {
    background-color: gray;
}
nav a:link {
    color: inherit;
    text-decoration: none;
}
nav a:visited {
    color: inherit;
    text-decoration: none;
}

#main-container {
    margin-left: 15%;
    padding: 20px;
}

/* organizing Member Contributions in about us*/
dl.contributions {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 0.5em 1em;
  }
/* table for about us*/
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
  }
  caption {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  